{% extends 'master.html' %}

{% block title %}
<title>ToDo List</title>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center m-5">
    <div>
        <br><h2 class="text-center">ToDo List</h2><br>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">Task</th>
                <th class="text-center" scope="col">Created</th>
                <th class="text-center" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr scope="row">
                    <form action="/update" method="POST">
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created.strftime("%d %b %Y") }}</td>
                    <td>
                        <a  class="btn btn-success btn-sm mx-md-3" href="/update/{{ task.id }}">Update</a>
                        <a class="btn btn-danger btn-sm mx-md-3" href="/delete/{{ task.id }}">Delete</a>
                    </td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table><br>
    <div class="text-center">
        <form action="\" method="POST">
            <textarea class="form-control" name="content" id="content" cols="50" rows="3"></textarea><br>
            <input class="btn btn-primary" type="submit" value="Add Task"/>
        </form>
    </div>
</div>
</div>
{% endblock %}