{% extends 'master.html' %}

{% block title %}
<title>ToDo List</title>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <div>
        <br><h2 class="text-center">ToDo List</h2><br>
        <table class="table table-striped table-hover">
            <tr>
                <th class="text-center">Task</th>
                <th class="text-center">Created</th>
                <th class="text-center">Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <form action="/update" method="POST">
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created.strftime("%d %b %Y") }}</td>
                    <td>
                        <a href="/delete/{{ task.id }}">Delete</a>
                        <br>
                        <a href="/update/{{ task.id }}">Update</a>
                    </td>
                    </form>
                </tr>
            {% endfor %}
        </table><br>
    <div class="text-center">
        <form action="\" method="POST">
            <textarea class="form-control" type="text" name="content" id="content" cols="50" rows="4"></textarea><br>
            <input type="submit" value="Add Task"/>
        </form>
    </div>
</div>
</div>
{% endblock %}